<!DOCTYPE html>
<html lang="en">

<%- include("head"); %>

<body class="container">
    <%- include("header"); %>

    <main>
        <h1>Sobre mim:</h1>
        <p>Olá! Sou William Robert, desenvolvedor Node/Java/Camunda!</p>
    </main>


    <%- include("footer"); %>
</body>
</html>